<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">WildSlack</span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Log In <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>  
</nav>

<div class="jumbotron">
  <h1 class="display-4">Welcome to Slack!</h1>
  <p class="lead">This is the best live messaging application in town. </p>
  <hr class="my-4">
  <p>If you are not subscribed yet, click on that button down below.</p>
  <hr class="my-4">
  <p>If you are, what are you waiting for? Log in!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Create an account</a>
</div>
